/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    quotes: none;
    text-decoration: unset;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
    height: 100%;
    width: 100%;
    max-width: 1500px;
    position: relative;
    background-color: #fff;
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
    margin: 0px auto;
}

.back-top {
  position: fixed;
  z-index: 99;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  background: #5B5BFE;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
}

.back-top.show {
  opacity: 1;
  visibility: visible;
}

.back-top svg {
  width: 30px;
}

#nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
  flex-wrap: wrap;
	padding: 18px 15px 10px;
  position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 3;
  background-color: white;
  overflow: hidden;
  transition: .3s;
}

 #nav.sticky {
    background-color: #fff;
    box-shadow: 1px 5px 10px rgba(0,0,0,.2);
    z-index: 4;
  }

.burger {
	width: 30px;
  cursor: pointer;
}

.line-1, .line-2, .line-3 {
	width: 30px;
	height: 4px;
	margin: 0px 0px 5px;
	background-color: black;
	border-radius: 5px;
}



.nav-link {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s;
}

.nav-link.active{
  max-height: 50rem;

}

.nav-link a {
  padding: 5px 15px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  color: black;
  border-bottom: 2px solid #E4E4E4;
  transition:  .3s;

}

.nav-link a:hover {
  border-bottom: 2px solid #5B5BFE;
}

.nav-link a:last-child {
    display: block;
    background-color: grey;
    padding: 8px 25px;
    background-color: #F3F3F3;
    border-radius: 3px;
    border-bottom: none;
}

.nav-link a:last-child:hover {
    background-color: #5B5BFE;
    color: white;

}
.nav-button {
	display: none;
}

#header {
 margin: 20px 0;
 position: relative;
 top: 70px;
}

.item {
	position: relative;
	 height: 450px;
     width: 100%;
     position: relative;
     padding: 0px;
     border-radius: 14px;
     overflow: hidden;
     background-color: rgba(0,0,0,.1)
}

.header-love-cover {
	position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.header-love-cover svg {
  color: white;
}

.header-cover-text {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0 15px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.header-text-left h2 a {
  color: white;
  font-size: 1.8rem;

}

.header-text-left span {
  color: white;
  display: inline-block;
  padding-top: 10px;
}

.header-text-right a {
  display: block;
  color: white;
  margin-top: 30px;
  padding: 10px 15px;
  background-color: #4242FB;
  border-radius: 15px;
}

.image {
  position: relative;
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 14px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}
.image:after {
    content: ' ';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,.3);
}

#hero {
  margin: 105px 15px 35px;
   overflow-x: auto;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   position:relative;
}

#hero img {
 object-fit: contain;

}


#main {
background-color: #F3F3F3;
}

.content {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  padding: 30px 15px;
  place-items : center;
  gap: 20px;
}

.content article {
  grid-column: span 8;
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}


.main-images {
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover;

}
.main-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  border-radius:5px;

}
.main-images:after {
    content: ' ';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,.4);
}


.content article:first-child {
  height: unset;
  text-align: center;

}

.content article:last-child {
  height: unset;
}

.content .main-cover-text {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 10px;
}

.content .main-cover-text a, .content .main-cover-text div{
  color: white;
}

.main-cover-seemore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #5B5BFE;
  border-radius: 5px;
  transition:  .3s;

 
}

.main-cover-seemore span {
  color: white;
  padding-right: 10px;
}

 .child-seemore {
  width: 30px;
  transition: transform .3s;
}

.main-cover-seemore:hover {
    background-color: #4242FB;
}

.main-cover-seemore:hover .child-seemore{
  -webkit-transform: translate(5px, -5px) rotate(-90deg);
}


#costumers {
  margin: 20px 0;
  position: relative;
}

#costumers h3 {
  text-align: center;
  margin-bottom: 70px;
  position:   relative;
}

.costumers-left {
  display: none
}

.costumers-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.card {
  border: 2px solid #E4E4E4;
  border-radius: 20px;
  position: relative;
  width: 90%;
  padding: 0 20px;
}

.card-header {
  position: absolute; 
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
       -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
           transform: translate(-50%,-50%); 
}

.card-body {
  position: relative;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; 
}

.card-body h4, .card-body p, .card-body .stars {
  padding-bottom: 10px;
}


.view-all-stories {
  text-align: center;
  display: block;
  text-decoration: underline;
  margin: 10px 0;
}

.costumers-right {
  display: none;
}

@media screen and (min-width: 420px) {
  .card {
    width: 370px;
  }
}


@media screen and (min-width: 620px) {
  .costumers-left {
    display: block;
  }

  .costumers-left img:nth-child(1) {
    position: absolute;
    left: 5%;
    top: 8%;
  }  

  .costumers-left img:nth-child(2) {
    position: absolute;
    left: 8%;
    top: 45%;
  }  

  .costumers-left img:nth-child(3) {
    position: absolute;
   left: 5%;
    top: 80%;
  }

  .costumers-right {
    display: block;
  }

  .costumers-right img:nth-child(1) {
    position: absolute;
    right: 5%;
    top: 8%;
  }  

  .costumers-right img:nth-child(2) {
    position: absolute;
    right: 8%;
    top: 45%;

  }  

  .costumers-right img:nth-child(3) {
    position: absolute;
    right: 5%;
    top: 78%;
  }
}


@media screen and (min-width: 760px) {
  .header-cover-text {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    bottom: 40px;
    top: unset;
    left: unset;
    -webkit-transform: unset;
       -moz-transform: unset;
        -ms-transform: unset;
         -o-transform: unset;
            transform: unset;

  }

  .header-text-right a {
    margin-top: 0;

   }

   #hero {
     margin: 110px auto 35px;
     overflow-x: none;
     width: 95%;
     display: flex;
     justify-content: center;
     align-items: center;
  }

  #hero img {
   object-fit: cover;
   width: 100%;
  }


  .content article:first-child {
    grid-column: span 8;
  }
  .content article {
  grid-column: span 4;
  position: relative;
  height: 300px;
  width: 100%;
 }

  .content article:last-child {
    grid-column: span 8;
  }


  .costumers-left img:nth-child(2) {
    position: absolute;
    left: 15%;
    top: 45%;
  }  



  .costumers-right img:nth-child(2) {
    position: absolute;
    right: 15%;
    top: 45%;

  }  



}


@media screen and (min-width: 960px) {
  #nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 15px 10px;
  }

  .burger {
    display: none;
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-basis: unset;
    padding: unset;
    max-height: unset;
    overflow: unset;
    transition: unset;

  }

  .nav-link a {
    padding: 5px 12px;
    color: black;
    border-bottom: none;
  }

  .nav-link a:hover {
    border-bottom: none;
  }

  .nav-link a.active {
    font-weight: 550;
    border-bottom: none;
  }

  .nav-link a:last-child {
    display: none;
  }

  .nav-button {
    display: block;
    background-color: grey;
    padding: 8px 25px;
    background-color: #F3F3F3;
    border-radius: 3px;
  }

  .nav-button a {
    color: grey;

  }

  #hero {
    margin: 110px 15px 35px;
  }

  .content {
    height: 600px;
    padding : 40px 50px;
  }

  .content article {
    height: 100%;
  }

  .main-images {
    height: 100%;
  }

  .content article:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;

  }

  .main-cover-judul h2 {
    text-align: left;
    font-size: 1.7rem;
    padding: 10px 0;
  }

  .content article:nth-child(2) {
    grid-column: span 2;
    grid-row: span 4;
  }
  .content article:nth-child(3) {
    grid-column: span 2;
    grid-row: span 4;
  }
  .content article:nth-child(4) {
    grid-column: span 2;
    grid-row: span 7;
  }
  .content article:nth-child(5) {
    grid-column: span 2;
    grid-row: span 7;
  }
    .content article:nth-child(6) {
    grid-column: span 2;
    grid-row: span 4;
  }
  .content article:nth-child(7) {
    grid-column: span 2;
    grid-row: span 4;
  }
  .content article:nth-child(8) {
    grid-column: span 2;
    grid-row: span 1;
  }


  .costumers-left img:nth-child(2) {
    position: absolute;
    left: 20%;
    top: 45%;
  }  

  .costumers-right img:nth-child(2) {
    position: absolute;
    right: 20%;
    top: 45%;

  }  
}